* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

.main {
  max-width: 350px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px 20px 20px;
  border-radius: 18px;
}

.main-photo {
  max-width: 100%;
  border-radius: 12px;
  display: block;
}

.overlay {
  position: relative;
  display: inline-block;
}

.overlay::after {
  content: "";
}

.overlay:hover::after {
  content: url(./images/icon-view.svg);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.184);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease-out;
}

.content {
  margin-top: 12px;
}

.tittle {
  color: hsla(0, 0%, 100%, 0.752);
  font-weight: 600;
  font-size: 22px;
}

.tittle:hover {
  cursor: pointer;
  color: hsla(178, 100%, 50%, 0.758);
  transition: background-color 0.3s ease-out;
}

.paragraph {
  font-size: 18px;
  color: hsla(215, 52%, 70%, 0.796);
  font-weight: 300;
  margin-top: 12px;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.eth {
  display: flex;
  align-items: center;
  gap: 11px;
  color: hsl(178, 100%, 50%);
}

.time {
  display: flex;
  align-items: center;
  gap: 11px;
  color: hsla(215, 52%, 70%, 0.796);
}

hr {
  margin-top: 18px;
  border-color: hsla(215, 52%, 70%, 0.796);
}

.avtor {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.photo {
  width: 50px;
  border: 2px solid rgba(255, 255, 255, 0.689);
  border-radius: 50%;
}

.avtor-name {
  color: hsla(215, 52%, 70%, 0.796);
}

span {
  color: hsla(0, 0%, 100%, 0.752);
}

span:hover {
  cursor: pointer;
  color: hsla(178, 100%, 50%, 0.758);
  transition: background-color 0.3s ease-out;
}
